---
layout: 'default'
---

section
	h1 Psyren
	p LOGO HERE
	h2 Slogan here

section(data-state='header')
	h1 Intro

section(data-state='header')
	h1 Market Share

section(data-state='subheader')
	h2 Details

section(data-state='header')
	h1 Uptime

section(data-state='subheader')
	h2 Details

section(data-state='header')
	h1 Users

section(data-state='subheader')
	h2 Details

section(data-state='content')
	h2 Conclusion
	p why
